@import 'tailwindcss';

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

.error-input {
  border: 2px solid red;
}

.error-text {
  color: red;
  font-size: 13px;
  margin-top: 4px;
}
